@page
@model AvaliacaoA1.Pages.Pontuacao.IndexModel

@{
    ViewData["Title"] = "Lista de Pontuações";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="display-5">Lista de Pontuações</h1>
        <a asp-page="Create" class="btn btn-primary btn-lg shadow-sm">
            <i class="fas fa-plus"></i> <!-- Ícone de adição -->
        </a>
    </div>

    <table class="table table-striped table-hover shadow-sm">
        <thead class="table-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Pontuacao[0].Pontos)</th>
                <th>@Html.DisplayNameFor(model => model.Pontuacao[0].Descricao)</th>
                <th>@Html.DisplayNameFor(model => model.Pontuacao[0].Tarefa.Nome)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pontuacao)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Pontos)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tarefa.Nome)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="text-primary me-2" title="Editar">
                            <i class="fas fa-pencil-alt"></i> <!-- Ícone de edição -->
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="text-secondary me-2" title="Detalhes">
                            <i class="fas fa-eye"></i> <!-- Ícone de detalhes -->
                        </a>
                        <a href="javascript:void(0);" class="text-danger" title="Excluir" onclick="openDeleteModal('/Pontuacao/Delete?id=@item.Id')">
                            <i class="fas fa-trash-alt"></i> <!-- Ícone de exclusão -->
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <!-- Link para o Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" crossorigin="anonymous"></script>
}

<style>
    a {
        text-decoration: none; /* Remove o sublinhado dos links */
    }

        a:hover {
            text-decoration: none; /* Remove o sublinhado ao passar o mouse */
        }
</style>